

  <div *ngFor="let data of items" class="pb-15">



  <mat-card class="padded-card ">
    <div class="card-content">
      <!-- Left side text -->
      <div class="text-content">
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.....
            </p>
      </div>
  
      <!-- Right side icons -->
      <div class="icon-content">
        <button mat-icon-button (click)="editItem()">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteItem()">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </mat-card>
  
</div>