<div class="container bg-color-bue">
  <div class="form-container">
      <form class="form-class">
        <h3 class="centered pb-15 text-center">Signup</h3>
        <mat-form-field class="form-full-width">
          <mat-label>Email</mat-label>
          <input
            type="email"
            matInput
            [formControl]="emailFormControl"
            placeholder="Ex. pat@example.com"
          />
        </mat-form-field>

        <mat-form-field class="form-full-width">
          <mat-label>Password</mat-label>
          <input
            type="password"
            matInput
            [formControl]="passwordFormControl"
            placeholder="Ex. pat@example.com"
          />
        </mat-form-field>

        <mat-form-field class="form-full-width">
          <mat-label>Confirm Password</mat-label>
          <input
            type="password"
            matInput
            [formControl]="confirmPasswordFormControl"
            placeholder="Ex. pat@example.com"
          />
        </mat-form-field>

        <div class="example-button-row pb-15">
          <button mat-flat-button class="mat-button-css" color="primary">
            Signup
          </button>
        </div>

        <div class="centered pb-10">Already have an account? <a [routerLink]="['/sign-in']" >Login</a></div>
 

      </form>
 
  </div>
</div>
