<!-- Outer container with border, centered horizontally and vertically -->
<div class="outer-container">
  <!-- Split container with 40/60 split -->
  <div class="split-container">

   
    <!-- Left div with content at the top and footer with centered button -->
    <div class="left-div">
      <div class="content">
        <h3 class="pl-16">Lists</h3>
        <app-list
          [lists]="lists"
          (listSelected)="onListSelected($event)"

        ></app-list>
      </div>
      <div class="footer">
        <button
          mat-flat-button
          color="primary"
          class="width_100"
          (click)="openDialog('0ms', '0ms',taskDetails,'create new list','Create')"
        >
          New List
        </button>
      </div>
    </div>

    <!-- Right div with content at the top and footer with button aligned to the right -->
    <div class="right-div border-shadow-container">
      <div class="content">
        <div class="flex-container">
          <h3>Tasks</h3>
          <!-- <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="settings"
          ></mat-icon> -->
        </div>
        <app-task [selectedList]="selectedList"
        (taskDeleted)="onTaskDeleted($event)"
        (taskEdited)="onTaskEdited($event)"></app-task>
      </div>
      <div class="footer" >
        <button
          mat-fab
          color="primary"
          aria-label="Example icon button with a bookmark icon"
          (click)="openDialog('0ms', '0ms',taskDetails,'create new task','Create')"
          *ngIf="showTaskButton"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
